---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro'

// Component Imports
import Hero from '../components/Hero.astro'

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
  <div class="stack gap-20 lg:gap-48">
    <div class="wrapper stack gap-8 lg:gap-20">
      <header class="hero">
        <Hero
          title="ASIS"
          tagline="The quest to live life as it is"
          align="start"
        >
          {/* Store Logos */}

        </Hero>

        <img
          class="hero-image"
          alt=""
          src="/assets/icon.svg"
        />
      </header>

    </div>
  </div>
</BaseLayout>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .store-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 1rem;
    list-style: none;
  }

  .store-container img {
    max-width: 100%;
    height: 60px;
  }

  .hero .hero-img {
    aspect-ratio: 5 / 4;
    object-fit: cover;
    object-position: top;
  }

  @media (min-width: 50em) {
    .hero {
      display: grid;
      grid-template-columns: 6fr 4fr;
      padding-inline: 2.5rem;
      gap: 3.75rem;
    }

    .hero .hero-img {
      aspect-ratio: 3 / 4;
      object-fit: cover;
    }

    .store-container {
      justify-content: start;
    }

    .store-container img {
      height: 80px;
    }
  }
</style>
